/**
 * Import scss partials here.
 */
/**
 * Color variables
 */
/* Social Media - http://www.paulund.co.uk/social-media-colours */
/**
 * Elements
 */
/**
 * Lists
 */
/**
 * Utilities
 */
@media screen and (min-width: 544px) {
  .anp-buddypress-home .buddypress-home-modules:after {
    content: "";
    display: table;
    clear: both; }
  .anp-buddypress-home .buddypress-module {
    float: left;
    width: 50%;
    padding: 1em; }
  .anp-buddypress-home .intro {
    width: 100%; } }

@supports (display: flex) {
  @media screen and (min-width: 544px) {
    .anp-buddypress-home .buddypress-home-modules {
      display: flex;
      flex-wrap: wrap; }
    .anp-buddypress-home .buddypress-module {
      flex: 1 1 50%; }
    .anp-buddypress-home .intro {
      flex-basis: 100%; } } }

/**
 * Import scss partials here.
 */
.buddypress-module {
  border-bottom: 1px solid #e0e0e0; }
  .buddypress-module h2:before {
    font-family: "Dashicons";
    margin-right: .25em; }
  .buddypress-module.xprofile h2:before {
    content: "\f155"; }
  .buddypress-module.activity h2:before {
    content: "\f204"; }
  .buddypress-module.forums.search h2:before {
    content: "\f179"; }
  .buddypress-module.forums.replies h2:before {
    content: "\f205 "; }
  .buddypress-module.forums.topics h2:before {
    content: "\f130"; }
  .buddypress-module.blogs h2:before {
    content: "\f488"; }
  .buddypress-module.events h2:before {
    content: "\f508"; }
  .buddypress-module.docs h2:before {
    content: "\f491"; }
  .buddypress-module.members h2:before {
    content: "\f307"; }
