/**
 * Import scss partials here.
 */
/**
 * Color variables
 */
/* Social Media - http://www.paulund.co.uk/social-media-colours */
/**
 * Elements
 */
/**
 * Lists
 */
/**
 * Utilities
 */
@media screen and (min-width: 544px) {
  .anp-buddypress-home .buddypress-home-modules:after {
    content: "";
    display: table;
    clear: both; }
  .anp-buddypress-home .buddypress-module {
    float: left;
    width: 50%;
    padding: 1em; }
  .anp-buddypress-home .intro {
    width: 100%; } }

@supports (display: flex) {
  @media screen and (min-width: 544px) {
    .anp-buddypress-home .buddypress-home-modules {
      display: flex;
      flex-wrap: wrap; }
    .anp-buddypress-home .buddypress-module {
      flex: 1 1 50%; }
    .anp-buddypress-home .intro {
      flex-basis: 100%; } } }

/**
 * Import scss partials here.
 */
.buddypress-module {
  border-bottom: 1px solid #e0e0e0;
  line-height: 1.5; }
  .buddypress-module ul,
  .buddypress-module #recent-members ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .buddypress-module ul li,
    .buddypress-module #recent-members ul li {
      margin-bottom: 1em; }
    .buddypress-module ul p,
    .buddypress-module #recent-members ul p {
      margin-bottom: 0; }
  .buddypress-module.content-entry ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .buddypress-module h2:before {
    font-family: "Dashicons";
    margin-right: .25em; }
  .buddypress-module.xprofile h2:before {
    content: "\f155"; }
  .buddypress-module.activity h2:before {
    content: "\f204"; }
  .buddypress-module.forums.search h2:before {
    content: "\f179"; }
  .buddypress-module.forums.replies h2:before {
    content: "\f205 "; }
  .buddypress-module.forums.topics h2:before {
    content: "\f130"; }
  .buddypress-module.blogs h2:before {
    content: "\f488"; }
  .buddypress-module.events h2:before {
    content: "\f508"; }
  .buddypress-module.docs h2:before {
    content: "\f491"; }
  .buddypress-module.members h2:before {
    content: "\f307"; }
  .buddypress-module.members .avatar-150 {
    height: 50px;
    width: auto; }
  .buddypress-module img.avatar-20 {
    height: 15px;
    width: auto;
    padding-right: .125em;
    padding-left: .125em; }
  .buddypress-module .post-date {
    color: #9e9e9e; }
  .buddypress-module .avatar {
    border-radius: 50%; }
